.container {
  height: 20px;
  width: 40px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  outline: 3px solid rgba(0, 0, 0, 0.15);
  border: 0;
  cursor: pointer;
  position: relative;
}

.indicator {
  min-height: 20px;
  min-width: 20px;
  height: 20px;
  width: 20px;
  background: white;
  border-radius: 50%;
  position: absolute;
  left: 0;
  transition: 0.3s;
}

.active {
  background: var(--color-primary);
  outline: 3px solid var(--color-primary);

  & .indicator {
    transform: translateX(19.9px);
  }
}
