:root {
  --main-height: calc(100vh - 73.6px);
}

.sideNavContainer {
  border-right: 1px solid var(--color-border);
  display: inline-block;
  position: relative;
  z-index: 9;
  height: var(--main-height);
  background: var(--color-foreground);
}

.sideNavContainerMobile {
  position: absolute;
  height: var(--main-height);
  transform: translateX(-100%);
  transition: 200ms ease-in-out;
}

.sideNavContainerMobileOpen {
  transform: translateX(0);
}

.desktopRow {
  display: flex;
}

.main {
  background: var(--color-background);
  width: 100%;
  padding: rem(22px);
  overflow-y: auto;
  height: var(--main-height);
}

.mainContainer {
  max-width: 1100px;
  margin: 0 auto;
}
