.container {
  text-decoration: none;

  & > div {
    transition: 500ms;
  }

  & h2 {
    color: var(--color-text);
    margin-bottom: rem(8px);
  }

  &:hover {
    text-decoration: none;

    & > div {
      border-color: rgba(0, 0, 0, 0.5);
      box-shadow: 0 4px 20px #0000001a;
    }
  }
}
