.paragraph {
  margin: 0;
  line-height: 1.75;
}

.normalWeight {
  font-weight: 400;
}

.mediumWeight {
  font-weight: 500;
}

.boldWeight {
  font-weight: 700;
}

.normalVariant {
  color: var(--color-text);
}

.mutedVariant {
  color: var(--color-text-muted);
}

.sizeNormal {
  font-size: rem(16);
}

.sizeSmall {
  font-size: rem(14);
}

.sizeXSmall {
  font-size: rem(12);
}

.alignLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}
