@import "../../styles/media.css";

.menuItem {
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 500;
  padding: rem(16px) rem(22px);
  width: 100%;
  text-align: left;
  background: transparent;
  border: 0;
  margin-bottom: rem(2px);
  color: var(--color-text-muted);
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: rem(24px);
  white-space: nowrap;

  & svg {
    font-size: rem(24px);
    min-width: rem(24px);
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &:focus {
    outline-color: var(--color-primary);
  }

  &:hover {
    color: var(--color-text);
  }

  @media (--tablet) {
    font-size: rem(14px);
  }
}

.inline {
  width: initial;
  display: inline-flex;
  padding: rem(10px) rem(12px);
}
