:root {
  --color-input-bg: transparent;
}

:global([data-theme="dark"]) {
  --color-input-bg: rgba(255, 255, 255, 0.055);
}

@define-mixin input-label {
  display: block;
  margin: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 0.875rem;
}

@define-mixin input-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

@define-mixin input-field-card {
  border: 1px solid var(--color-border);
  box-shadow:
    0 0 #0000,
    0 0 #0000,
    0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  background: var(--color-input-bg);
}

@define-mixin input-field {
  @mixin input-field-card;

  width: 100%;
  padding: 0.5rem 0.75rem;
  height: 2.5rem;
  font-size: 0.875rem;
  font-family: var(--font-family);

  &:active,
  &:focus,
  &:focus-visible {
    outline: 1px solid var(--color-primary) !important;
  }
}

@define-mixin input-error {
  font-size: rem(12px);
  font-weight: 500;
  color: red;
  margin: 0;
  margin-top: 0.5rem;
}

@define-mixin input-row {
  flex-direction: row;
  justify-content: space-between;

  & div:nth-child(2) {
    width: 100%;
    max-width: 60%;
  }
}
