.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: rem(32px) rem(22px);
}

.spinner {
  margin-bottom: rem(32px);
}

.heading {
  margin-bottom: rem(8px);
}
